@charset "utf-8";
/* CSS Document */

article {
	display: flex;
	justify-content: center;
}
section {
	width: calc(100% - .75em);
}
#bob {
	margin-left: 1.5em;
}
img {
	float: left;
	width: 40%;
	height: auto;
}